@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

:root {
  /* Colors */

  --color-primary-900: hsla(233, 53.7%, 16.1%, 1);
  --color-primary-600: hsla(234, 24.9%, 52%, 1);
  --color-primary-400: hsla(232, 10.2%, 55.9%, 1);
  --color-secondary-800: hsla(341, 91.7%, 62.4%, 1);
  --color-secondary-400: hsla(341, 100%, 82.7%, 1);
  --color-neutral-100: hsla(0, 0%, 100%, 1);
  --color-hsl-shadow: 233, 92%, 29%;

  /* Gradients */

  --gradient-primary: linear-gradient(
    to bottom,
    hsla(237, 100%, 64.1%, 1) 0%,
    hsla(322, 86.8%, 55.3%, 1) 100%
  );
  --gradient-secondary: linear-gradient(
    to bottom,
    hsla(13, 100%, 64.1%, 1) 0%,
    hsla(322, 86.8%, 55.3%, 1) 100%
  );
  --gradient-background: linear-gradient(
    to bottom,
    var(--color-neutral-100),
    hsla(234, 100%, 97%, 1)
  );
  /* --clr-gradient-2-hover: hsla(0,0%,100%,0.500); */

  /* Shadows */

  --shadow--s: 0 25 50 0 hsla(var(--color-hsl-shadow), 0.0441);

  /* Font styles  */

  --font-face-default: "Plus Jakarta Sans", sans-serif;

  --font-weight--m: 500;
  --font-weight--b: 700;
  --font-weight--xb: 800;

  /* Text sizes */

  --heading--xl: 3.5rem;
  --heading--l: 2.5rem;
  --heading--m: 2rem;
  --heading--s: 1.5rem;
  --heading--xs: 1.25rem;
  --body--m: 1.125rem;
  --body--s: 1rem;

  /* Line heights */

  --line-height--xl: 4.375rem;
  --line-height--l: 3.1875rem;
  --line-height--m: 2.5rem;
  --line-height--s: 1.75rem;
  --line-height--xs: 1.625rem;
}

/* CSS Resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

button {
  display: block;
}

img,
picture,
svg {
  display: block;
  /* max-width: 100%; */
}

/* Utility */
.flex-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nowrap {
  white-space: nowrap;
}

/* Styles */

body {
  min-width: 375px;
  font-family: var(--font-face-default);
  font-weight: var(--font-weight--m);
  font-size: var(--body--s);
  line-height: var(--line-height--xs);
  color: var(--color-primary-400);
  background-color: var(--color-neutral-100);
  /* overflow: hidden; */
}

header {
  position: relative;
  padding-top: 1em;
  overflow: hidden;
}

main section:last-of-type {
  padding-bottom: 4rem;
  background-image: var(--gradient-background);
}

footer {
  background-color: var(--color-primary-900);
  padding: 1.2em 0 1.25em;
}

a {
  text-decoration: none;
  color: var(--color-secondary-800);
  font-weight: var(--font-weight--b);
  font-size: var(--body--m);
  line-height: var(--line-height--s);
  cursor: pointer;
}

a:is(:hover, :focus) {
  opacity: 0.5;
}

.button {
  position: relative;
  color: var(--color-neutral-100);
  font-size: var(--body--s);
  font-weight: var(--font-weight--b);
  border: none;
  border-radius: 100vh;
  padding: 0.6675em 1.5em;
  cursor: pointer;
  overflow: hidden;
}

.button--primary {
  background-color: var(--color-primary-900);
}

.button--secondary {
  padding: 0.9375em 2.35em;
  background-image: var(--gradient-secondary);
}

.button--tertiary {
  background-image: var(--gradient-primary);
}

.button:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: hsla(0, 0%, 100%, 0.5);
  overflow: hidden;
}

.content {
  margin-inline: auto;
  max-width: 1160px;
  padding: 0 4.3%;
}

.logo {
  width: 89px;
}

.hero__title {
  padding-top: 1em;
  color: var(--color-primary-900);
  font-size: var(--heading--l);
  line-height: var(--line-height--l);
  font-weight: var(--font-weight--xb);
}

.hero__body {
  padding: 1.625em 0 1.475em;
}

.hero__img {
  margin-top: 1.6125em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.tiles {
  margin-top: -1.4em;
  display: grid;
  grid-gap: 1em;
}

.tile {
  position: relative;
  margin-top: 32px;
  padding: 1.75em;
  padding-bottom: 1.9em;
  border-radius: 0.625em;
  background-color: var(--color-neutral-100);
  box-shadow: var(--shadow--s);
}

.tile[data-type="animation"] {
  --icon-url: url("./assets/icon-animation.svg");
}
.tile[data-type="design"] {
  --icon-url: url("./assets/icon-design.svg");
}
.tile[data-type="photography"] {
  --icon-url: url("./assets/icon-photography.svg");
}
.tile[data-type="crypto"] {
  --icon-url: url("./assets/icon-crypto.svg");
}
.tile[data-type="business"] {
  --icon-url: url("./assets/icon-business.svg");
}

.tile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  transform: translate(50%, -43%);
  background-image: var(--icon-url);
  background-repeat: no-repeat;
  background-size: contain;
}

.tile__heading {
  color: var(--color-primary-900);
  font-size: var(--heading--xs);
  font-weight: var(--font-weight--xb);
  padding-top: 1.395em;
}

.tile__heading--cta {
  color: var(--color-neutral-100);
  font-size: var(--heading--s);
  line-height: var(--heading--m);
  font-weight: var(--font-weight--xb);
}

.tile__body {
  padding: 0.975em 0 1.5em;
}

.tile--cta {
  margin: 0;
  border: none;
  padding: 1.55em 1.65em 1.875em;
  background-image: var(--gradient-secondary);
}

/* Media queries */

@media (min-width: 700px) {
  header {
    padding-top: 1.5em;
    padding-bottom: 7em;
  }

  .hero {
    padding: 4.5em 0;
    width: 58%;
  }

  .hero__body {
    padding: 1em 0 1.25em;
  }

  .hero__img {
    position: absolute;
    top: -120px;
    left: auto;
    right: -300px;
    transform: none;
    z-index: -1;
  }

  .tiles {
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
  }

  .tile--cta {
    margin-top: 32px;
  }
}

@media (min-width: 900px) {
  .tiles {
    grid-template-columns: repeat(3, 1fr);
  }
}
